@font-face {
  font-family: lato-regular;
  src: url('./assets/fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: merienda-regular;
  src: url('./assets/fonts/merienda/Merienda-Regular.ttf');
}